
.custom-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.40);
    color: white;
    font-size: 12px;
    animation: tooltip-animation 1s;
    overflow: hidden;
    text-wrap: nowrap;
}


@keyframes tooltip-animation {
    from {
        max-width: 0%;
    }
    to {
        max-width: 100%;
    }
}